<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}">
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
  <link rel="icon" href="../static/Icon/ico.ico" type="image/x-icon">
</head>

<body>
  <div class="main">
    <input type="checkbox" id="chk" aria-hidden="true">

    <div class="signup">
      <form method="post" action="/registrar">
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="nombre" name="nombre" class="form-control" id="nombre" placeholder="User name" required="">
        <input type="email" name="email" id="email" class="form-control" placeholder="Email" required="">
        <input type="password" name="contrasena" id="contrasena" placeholder="Password" required="">
        <button>Registrate</button>
      </form>
      <div class="text-center mt-3" style="text-align: center;">
        <p th:if="${error}" style="color: red" th:text="${error}"></p>
      </div>
    </div>

    <div class="login">
      <form method="post" action="/login">
        <label for="chk" aria-hidden="true">Login</label>
        <input type="email" name="email" placeholder="Email" required="">
        <input type="password" name="contrasena" placeholder="Password" required="">
        <p style="text-align: center;">Are You Human?</p>
        <input type="checkbox" name="human" id="human " required="" label="Are You Human?">
        <button>Ingresar</button>
      </form>
    </div>
  </div>
</body>

</html>